﻿/* CSS Document */

body
{
	padding: 0;
	margin: 0;
	font-size: small;
}

.HeaderFooter
{		
	width:100%;
	float:left;
	clear:both;
	position:relative;
}

/* ==================== Header ==================== */
/* The new header has its own style sheets. 6/2009  */

/* ==================== Footer ==================== */

#footer_main 
{
	background: #000000;
	color: #FFFFFF;
	font-size: 10px;	
}

td.footercell {
	background: black;
	color: white;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration:none;
	white-space: pre;
}

a.footeranchor {
	background: black;
	color: white;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
	text-decoration:none;
	white-space: pre;
}

a.footeranchor:link 
{
	 color: white; 
}

a.footeranchor:visited 
{
	color: white; 
}

a.footeranchor:active 
{
	color: white; 
}

#footer_main td
{
	background: #000000;
	color: #FFFFFF;
	font-size: 11px;
}
		
#footer_main a
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

a.footer_main:link 
{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

a.footer_main:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

a.footer_main:hover {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

a.footer_main:focus {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

a.footer_main:active {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}

/* ==================== Main Content Digi-Key Master ==================== */
#mainContentDigiKey
{
	padding-left:10px; 	
	padding-right:10px;
}

/* ==================== Main Content ==================== */

/* This is overriden in Print.css because the current main context
   causes IE7 and IE8 to print the footer on the third page of AddPart.aspx for example*/
#mainContent
{
	width: 100%;
	height: 100%;
	clear: both;
	position: relative; 	
}

#mainContent a:visited
{
	color: Purple;
	font-size: 12px;
}

#mainContent a:active
{
	color: blue;
}

#mainContent a:hover
{
	color: #ed1b23;	
}

#mainContent .categoryTitle
{
	font-size: 18px;
}

#mainContent .categoryHeading
{
	font-weight: bold;
}

#mainContent .approvedVendorList
{
    max-height:80px;
    max-width:280px;
}

#mainContent .error
{
	color: #FF0000;
}

#mainContent .Header
{
	font-weight:bold;
	font-size:18px;
}

/* Special blue gradient table */
#mainContent .beablock
{
	border: solid black 1px;
	margin-bottom: 1em;
	padding: .5em;
	background: url(//dkc3.digikey.com/us/images/dkms_blue_gradient.jpg) repeat-x bottom;
}

#mainContent .beablocktitle
{
	font-weight: bold;
}

#mainContent .qtynote
{
	color: red;
}

#mainContent .qtynote:visited
{
	color: red;
}

#basicContent
{
	width:1350px;
	float:left; 
	clear:both;
}

#basicContentLeft
{
	float: left;
	width: 350px;
	clear:left;
	
}

#basicContentRight
{	
	float:left;	
	width:1000px;
	clear:right;
}

/* ==================== Tables ==================== */

table.tblborder 
{
	border: solid 1.5px #C0C0C0;
	padding: 1.5px;
}

tr.oddrow
{
	background: white;
	border: solid 1.5px #C0C0C0;
}

tr.evenrow
{
	background: #F0F0F0;
	border: solid 1.5px #C0C0C0;
}

tr.tblhead
{
	border: solid 1.5px #C0C0C0;
	background: #E0E0E0;
	font-weight: bold;
}

tr.tblfoot
{
	background: #E0E0E0;
	border: solid 1.5px #C0C0C0;
}

td.center
{
	text-align: center;
}

td.tblhead
{
	border: solid 1.5px #C0C0C0;
	background: #E0E0E0;
}

td.bottomPadding
{
	padding-bottom: 7px;
}

/* ==================== CHECKOUT PROCESS TITLES ==================== */
/*--Using the !important because the a:hover above alwayws seems to take precendent--*/

.tblCheckoutProcess
{
	/*margin-left:10px;*/
}

.tblCheckoutProcess td
{
	padding: 5px 5px 5px 5px;
	
}

.tblCheckoutProcess td.highlighted
{
	background-color: #C0C0C0;
}

a.complete
{
	color: Black;
	font-weight: normal !important;
}

a.current, a.current:hover
{
	color: Black !important;	
	font-weight: bolder !important;
}

a.notVisited, a.notVisited:hover
{
	color: #C0C0C0 !important;	
	font-weight: normal !important;
}

a.submitted, a.submitted:hover
{
	color: #C0C0C0 !important;
}

a.submittedCurrent, a.submittedCurrent:hover
{
	color: #C0C0C0 !important;
	font-weight: bold !important;
}

/* ==================== SEO - USA ONLY ==================== */

#seotable 
{
	color: #A9A9A9;
	font-size: 9px;
	margin-bottom: 10px;
}

#seotable td
{
	color: #A9A9A9;
	font-size: 9px;
}
#seotable a 
{
	color: #A9A9A9;
	font-size: 9px;
	text-decoration:underline;
}

#seotable a:link
{
	color: #A9A9A9;
	font-size: 9px;
	text-decoration:underline;
}

#seotable a:visited
{
	color: #A9A9A9;
	font-size: 9px;
	text-decoration:underline;
}

#seotable a:hover
{
	color: #A9A9A9;
	font-size: 9px;
	text-decoration:underline;
}
#seotable a:active
{
	color: #A9A9A9;
	font-size: 9px;
	text-decoration:underline;
}
#seotable a:focus
{
	color: #A9A9A9;
	font-size: 9px;
	text-decoration:underline;
}

/* ==================== Controls (Buttons, Textboxes, etc) ==================== */

/* This makes a normal button look like a link button */
.linkButton
{
	text-decoration: underline; /* Does not work in firefox*/
	background: none;
	border: none;
	color: Blue;
	cursor: pointer;
	width: 100%;
/*	height: 15px; */
	text-align: left;
	display: table-cell;
}
/* Header for the content area */
.HeaderText
{
	font-weight:bold;
	font-size:16px;
	/*font-family:times new roman, times, serif;*/
}

.MenuItems
{
	text-decoration:none;
}

/* Used in InventoryFileLinks.aspx */
.HyperLink:link
{
	color: Black;
}

/* Used for Pre-submit terms and condtions */
div.agreement {
   width:520px;
   height:170px;
   border:2px inset #ccc;
   padding:6px;
   overflow:auto;
}

table.indent
{
	padding-left:10px;
}
